<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Charts</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Medidas</h1>

      <section class="savings group">
        <h2>Ahorro</h2>

        <div class="row group">
          <div class="cell6">
            <div id="cdns-consumption-chart"></div>
          </div>
          <div class="cell6">
            <div id="cdn-p2p-consumption-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="cell12">
            <div id="all-peers-consumption-chart"></div>
          </div>
        </div>
      </section>

      <section class="quality group">
        <h2>Calidad</h2>

        <div class="row">
          <div class="cell12">
            <div id="all-peers-waiting-time-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="cell12">
            <div id="all-peers-startup-waiting-time-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="cell12">
            <div id="all-peers-waiting-time-amount-chart"></div>
          </div>
        </div>
      </section>
    </div>

    <script src="https://www.google.com/jsapi"></script>
    <script>
      // Fetch server data
      //==================
      var content, CDNsConsumption, P2PConsumption,
          CDN1Consumption, CDN2Consumption, peersInfo, xhr,
          firstLoaded = false,
          XHR_AJAX_COMPLETE = 4,
          XHR_SUCCESS_PARTIAL_CONTENT = 200;

      var initData = function (content) {
        CDNsConsumption = content.globalConsumption.cdn;
        P2PConsumption = content.globalConsumption.p2p;
        CDN1Consumption = content.globalConsumption.cdn1;
        CDN2Consumption = content.globalConsumption.cdn2;
        peersInfo = content.peersInfo;
      }

      var statusRequest = function () {
        xhr = new XMLHttpRequest();
        xhr.open('GET', '/stats.json', true);
        xhr.onreadystatechange = function (event) {
          if (xhr.readyState === XHR_AJAX_COMPLETE && xhr.status === XHR_SUCCESS_PARTIAL_CONTENT) {
            if (firstLoaded) {
              initData(JSON.parse(xhr.response));
              drawChart();
            }
          }
        }
        xhr.send();
      }

      content = <%- JSON.stringify(data) %>
      initData(content);

      setInterval(statusRequest, 15000);

      // Load Google Chart packages.
      google.load('visualization', '1.0', { packages: ['corechart'] });
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates our tables, instantiates our charts, passes in the data and draws them.
      function drawChart() {
        firstLoaded = true;

        // CDNs Consumption Chart.
        //========================

        var data = google.visualization.arrayToDataTable([
          ['CDNs', 'Consumo %'],
          ['CDN 1', CDN1Consumption],
          ['CDN 2', CDN2Consumption]
        ]);

        var options = {
          title: 'Consumo global desde CDNs del Swarm',
          is3D: true,
          width: '100%',
          backgroundColor: 'transparent'
        };

        var CDNsConsumptionChart = new google.visualization.PieChart(document.querySelector('#cdns-consumption-chart'));
        CDNsConsumptionChart.draw(data, options);


        // CDN and P2P Consumption Chart.
        //===============================

        data = google.visualization.arrayToDataTable([
          ['Fuente', 'Consumption %'],
          ['CDN', CDNsConsumption],
          ['P2P', P2PConsumption]
        ]);

        options = {
          title: 'Consumo global desde CDN y P2P del Swarm',
          is3D: true,
          width: '100%',
          backgroundColor: 'transparent'
        };

        var CdnAndP2pConsumptionChart = new google.visualization.PieChart(document.querySelector('#cdn-p2p-consumption-chart'));
        CdnAndP2pConsumptionChart.draw(data, options);


        // CDN and P2P Consumption by Peer Chart.
        //=======================================

        data = [['Peers', 'P2P', 'CDN']];
        peersInfo.forEach(function (peerInfo, index) {
          var peerId = Object.keys(peerInfo)[0];
          data.push([peerId, peerInfo[peerId].p2p, peerInfo[peerId].cdn]);
        });

        data = google.visualization.arrayToDataTable(data);

        options = {
          title: 'Consumo desde CDN y P2P por peer',
          seriesType: 'bars',
          height: 500,
          width: '100%',
          backgroundColor: 'transparent',
          hAxis: {
            title: 'Peers'
          },
          vAxis: {
            title: '%',
            viewWindow: {
              max: 110,
              min: 0
            },
            gridlines: {
              count: 10
            }
          }
        }

        var allPeersConsumptionChart = new google.visualization.ComboChart(document.querySelector('#all-peers-consumption-chart'));
        allPeersConsumptionChart.draw(data, options);


        // Total Waiting Time For Playing Video by Peer Chart.
        //====================================================

        data = [['Peer', 'Tiempo de espera']];

        peersInfo.forEach(function (peerInfo, index) {
          var peerId = Object.keys(peerInfo)[0];
          data.push([peerId, peerInfo[peerId].totalWaitingTime]);
        });

        data = google.visualization.arrayToDataTable(data);

        options = {
          title: 'Tiempo total de espera para reproducir el video por peer',
          seriesType: 'bars',
          height: 500,
          width: '100%',
          backgroundColor: 'transparent',
          hAxis: {
            title: 'Peers'
          },
          vAxis: {
            title: 'Tiempo (milisegundos)',
            viewWindow: {
              max: 110000,
              min: 0
            },
            gridlines: {
              count: 10
            }
          }
        }

        var allPeersWaitingTimeChart = new google.visualization.ComboChart(document.querySelector('#all-peers-waiting-time-chart'));
        allPeersWaitingTimeChart.draw(data, options);

        // Startup Waiting Time For Playing Video by Peer Chart.
        //======================================================

        data = [['Peer', 'Tiempo de espera inicial']];

        peersInfo.forEach(function (peerInfo, index) {
          var peerId = Object.keys(peerInfo)[0];
          data.push([peerId, peerInfo[peerId].startupWaitingTime]);
        });

        data = google.visualization.arrayToDataTable(data);

        options = {
          title: 'Tiempo de espera inicial para reproducir el video por peer',
          hAxis: {
            title: 'Peers'
          },
          vAxis: {
            title: 'Tiempo (milisegundos)',
            viewWindow: {
              max: 110000,
              min: 0
            },
            gridlines: {
              count: 10
            }
          },
          seriesType: 'bars',
          height: 500,
          width: '100%',
          backgroundColor: 'transparent'
        }

        var allPeersStartupWaitingTimeChart = new google.visualization.ComboChart(document.querySelector('#all-peers-startup-waiting-time-chart'));
        allPeersStartupWaitingTimeChart.draw(data, options);


        // Waiting Time Amount For Playing Video by Peer Chart.
        //=====================================================

        data = [['Peer', '#']];

        peersInfo.forEach(function (peerInfo, index) {
          var peerId = Object.keys(peerInfo)[0];
          data.push([peerId, peerInfo[peerId].waitingTimeAmount]);
        });

        data = google.visualization.arrayToDataTable(data);

        options = {
          title: 'Cantidad de veces que se para el video debido a buffering por peer',
          vAxis: {
            title: '# veces',
            viewWindow: {
              max: 20,
              min: 0
            },
            gridlines: {
              count: 20
            }
          },
          hAxis: {
            title: 'Peers'
          },
          seriesType: 'bars',
          height: 500,
          width: '100%',
          backgroundColor: 'transparent'
        }

        var allPeersWaitingTimeAmountChart = new google.visualization.ComboChart(document.querySelector('#all-peers-waiting-time-amount-chart'));
        allPeersWaitingTimeAmountChart.draw(data, options);

      }
    </script>
  </body>
</html>
