.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

h2,
h3 {
  padding-left: 20px;
}

h1 {
  padding: 20px 0px;
  text-align: center;
}

h1,
h2,
h3 {
  color: #488FD7;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px;
  width: auto;
}

.row {
  margin: 40px auto;
}

.cell12 {
  width: 100%;
}

.cell6 {
  float: left;
  width: 50%;
}

body {
  background-color: #488FD7;
  margin: 0px;
  padding: 15px;
}

h1,
.savings,
.quality {
  background-color: #FFF;
  margin: 30px 0px;
}

@media (max-width: 767px) {
  .cell6 {
    float: none;
    width: 100%;
  }
}
